.Estilo8 { color: #00FF00; font-weight: bold; font-size: x-large; }
.Estilo11 { color: #FFFFFF }
.Estilo12 { color: #00FF00; font-weight: bold; font-size: xx-large; }
.Estilo15 { color: #D0BE34; font-weight: bold; font-size: x-large; }
.Estilo18 { font-size: x-large; font-weight: bold; }
#Layer1 { position:absolute; width:141px; height:48px; z-index:1; left: 652px; top: 21px; }
.Estilo19 { font-size: 36px; color: #FFFFFF; }
.Estilo20 {font-size: 18px}
.Estilo21 {color: #FF0000; font-weight: bold; font-size: xx-large; }
.Estilo22 {color: #FF0000}
#Layer2 { position:absolute; width:467px; height:318px; z-index:2; left: 54px; top: 902px; }
.Estilo24 { font-size: xx-large; color: #660000; }
.Estilo25 { font-size: 18px; color: #000000  }
.Estilo27 { color: #660000 }
.Estilo29 { font-size: 18px; color: #000000; }
.Estilo30 { color: #000000 }
.Estilo31 { color: #660000; font-size: x-large; font-weight: bold; }